.top{
  &__container{
    max-width: 1700px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 120px 0 130px;
    text-align: center;
  }
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;
  position: relative;
  flex-wrap: wrap;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    background-image: url('../images/src/icons/home-icon.svg');
  }
  &__list{
   display: flex;
  }
  &__item{
    color: #727272;
    padding-right: 40px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 9px;
      height: 10px;
      top: 9px;
      right: 15px;
      background-image: url('../images/src/icons/angle-right.svg');

    }
    &:last-child{
      color: $accent;
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}